@page
@model FavouritesModel
@{
    ViewData["Title"] = "Favourite places";
}
<h1>Favourite places</h1>
<ul id="favouritePlaceslist"></ul>
@section scripts{
    <script src="~/js/favouriteplaces.js" asp-append-version="true"></script>
}