@page
@model SpeechHistoryModel
@{
    ViewData["Title"] = "Speech History";
}
<h1>Speech History</h1>
<ul id="speechhistorylist"></ul>
@section scripts{
    <script src="~/js/speechhistory.js" asp-append-version="true"></script>
}